{% extends 'base.html.twig' %}

{% block main %}
    <div id="content" class="content">
        <!-- begin breadcrumb -->
        <ol class="breadcrumb pull-right">
            <li class="breadcrumb-item"><a href="javascript:">Home</a></li>
            <li class="breadcrumb-item"><a href="javascript:">Page Options</a></li>
            <li class="breadcrumb-item active">Add printer</li>
        </ol>
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <h1 class="page-header">Add printer <small>header small text goes here...</small></h1>
        <!-- end page-header -->
        <form class="form-horizontal form-bordered action" method="POST"
              enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-6"
                     style="background: #FFFFFF">
                    <!-- begin panel-body -->
                    <div class="panel-body panel-form">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="printer_batch">Batch</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="printer_batch" placeholder="Batch"
                                       name="printer[batch]" value="{{ newBatch }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="printer_serialNumber">Serial Number</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="printer_serialNumber"
                                       placeholder="Serial Number" name="printer[serialNumber]">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="printer_companyName">Company Name</label>
                            <div class="col-md-8">
                                <select class="form-control selectpicker" data-live-search="true" data-size="5"
                                        data-style="btn-primary" id="printer_companyName" name="printer[companyName]">
                                    {% for company in companies %}
                                        <option value="{{ company.id }}">{{ company.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="printer_model">Model</label>
                            <div class="col-md-8">
                                <select class="form-control selectpicker" data-size="5" name="printer[model]"
                                        id="printer_model" data-live-search="true" data-style="btn-primary">
                                    {% for model in models %}
                                        <option value="{{ model.id }}">{{ model.brand }} {{ model.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="printer_warranty">Warranty Sticker</label>
                            <div class="col-md-8">

                                <div class="switcher">
                                    <input type="checkbox" name="printer[warrantySticker]" id="printer_warranty"
                                           value="false">
                                    <label for="printer_warranty"></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="printer_showComment">Show Comment</label>
                            <div class="col-md-8">

                                <div class="switcher">
                                    <input type="checkbox" name="printer[showComment]" id="printer_showComment"
                                           value="false">
                                    <label for="printer_showComment"></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="printer_Status">Status</label>
                            <div class="col-md-8">
                                <select class="form-control selectpicker" data-live-search="true" data-size="10"
                                        data-style="btn-primary" id="printer_Status" name="printer[printerStatus]">
                                    <option value="2">Diagnostic</option>
                                    {% for statusOne in status %}
                                        <option value="{{ statusOne.id }}">{{ statusOne.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="printer_problemDescription">Problem
                                Description</label>
                            <div class="col-md-8">
                                <textarea class="form-control" rows="6" cols="46" id="printer_problemDescription"
                                          name="printer[problemDescription]"></textarea>
                            </div>
                        </div>
                        {% if is_granted('ROLE_TECHNICIAN') %}
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="printer_Diagnostic">Diagnostic</label>
                            <div class="col-md-8">
                                <textarea class="form-control" rows="6" cols="46" id="printer_Diagnostic"
                                          name="printer[diagnostic]"></textarea>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-6"  style="background: #FFFFFF">
                    <!-- begin panel-body -->
                    <div class="panel-body panel-form">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="printer_counter">Counter</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="printer_counter" placeholder="Counter"
                                       name="printer[counter]">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="printer_addPrice">Add Price</label>
                            <div class="col-md-8">
                                <input type="number" class="form-control" step="any" id="printer_addPrice"
                                       placeholder="Add Price"
                                       name="printer[addPrice]">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="printer_customerPrice">Customer Price</label>
                            <div class="col-md-8">
                                <input type="number" class="form-control" step="any" id="printer_customerPrice"
                                       placeholder="Customer Price" name="printer[customerPrice]">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="printer_cartridge">Cartridge</label>
                            <div class="col-md-8">
                                <textarea type="text" rows="1" class="form-control" id="printer_cartridge"
                                          placeholder="Cartridge" name="printer[cartridge]"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">Image</label>
                            <div class="col-md-8">
                                <input type="file" class="form-control" id="printer_image"
                                       placeholder="Image" name="printer[image]">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="printer_addProtocol">Add Protocol</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="printer_addProtocol"
                                       placeholder="Add Protocol"
                                       name="printer[addProtocol]">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="printer_technician">Technician</label>
                            <div class="col-md-8">
                                <select class="form-control selectpicker" data-live-search="true" data-size="10"
                                        data-style="btn-primary" id="printer_technician" name="printer[technician]">
                                    <option value="null">Not Selected</option>
                                    {% for technician in technicians %}
                                        <option value="{{ technician.0.id }}">{{ technician.0.fullName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="printer_invoiceDescription">Invoice
                                Description</label>
                            <div class="col-md-8">
                            <textarea class="form-control" rows="6"
                                      cols="46"
                                      id="printer_invoiceDescription"
                                      name="printer[invoiceDescription]"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="printer_Comments">Comments</label>
                            <div class="col-md-8">
                            <textarea class="form-control" rows="6" cols="46" id="printer_Comments"
                                      name="printer[comments]"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            {{ form_row(form._token) }}
            <div class="col-sm-4 col-sm-offset-4">
                <a class="btn btn-default" href="{{ path('homepage') }}">Cancel</a>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <br>
        </form>
    </div>
{% endblock %}
