{% extends 'base.html.twig' %}

{% block main %}

<!-- begin #content -->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb hidden-print pull-right">
        <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
        <li class="breadcrumb-item active">Printer Details</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header hidden-print">Priter Details <small>header small text goes here...</small></h1>
    <!-- end page-header -->
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <h1 class="page-header">Gallery v2 <small>header small text goes here...</small></h1>
        <!-- end page-header -->
        <!-- begin superbox -->
        <div class="superbox " data-offset="50">
            <div class="superbox " data-offset="50">
                <div class="superbox-list">
                    <a href="javascript:;" class="superbox-img">
                        <img data-img="http://localhost:8000/images/clientPrinterImages/frecklesetteacher-5d43460cbf71b.png" />
                        <span style="background: url(http://localhost:8000/images/clientPrinterImages/frecklesetteacher-5d43460cbf71b.png);"></span>
                    </a>
                </div>
            </div>

            <div class="superbox-list">
                <a href="javascript:;" class="superbox-img">
                    <img data-img="http://localhost:8000/images/clientPrinterImages/cartridgelogo-5d4350207cb39.png" />
                    <span style="background: url(http://localhost:8000/images/clientPrinterImages/cartridgelogo-5d4350207cb39.png);"></span>
                </a>
            </div>
        </div>
        <!-- end superbox -->
    </div>
    <!-- end #content -->




<!-- ================== BEGIN BASE JS ================== -->
<script src="{{ asset('plugins/jquery/jquery-3.3.1.min.js') }}"></script>

<script src="{{ asset('plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
<script src="{{ asset('plugins/js-cookie/js.cookie.js') }}"></script>
<script src="{{ asset('js/theme/default.min.js') }}"></script>
<script src="{{ asset('js/apps.min.js') }}"></script>
<!-- ================== END BASE JS ================== -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="{{ asset('plugins/superbox/js/jquery.superbox.min.js') }}"></script>
<script src="{{ asset('js/demo/gallery-v2.demo.min.js') }}"></script>
<!-- ================== END PAGE LEVEL JS ================== -->

<script>
    $(document).ready(function() {
        App.init();
        GalleryV2.init();
    });
</script>
{% endblock %}
